{% extends 'layouts/index.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">Цена: {{ product.price }}</p>
                    <a href="{{product.id}}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}